In [1]:
import pandas as pd
import numpy as np

In [3]:
date = pd.read_csv('34_1_orders.csv')
time = pd.read_csv('34_2_messages.csv')

## Working with date:

In [4]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [5]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [7]:
date['date'] = pd.to_datetime(date['date'])

In [8]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [9]:
# extract Year
date['year'] = date['date'].dt.year

In [10]:
date['year']

0      2019
1      2018
2      2018
3      2019
4      2019
       ...
995    2018
996    2018
997    2019
998    2019
999    2019
Name: year, Length: 1000, dtype: int32

In [11]:
# extract Month
date['month'] = date['date'].dt.month

In [12]:
date['month']

0      12
1       8
2      10
3       8
4       1
       ..
995    10
996    12
997     5
998     3
999    10
Name: month, Length: 1000, dtype: int32

In [15]:
#month name
date['month_name'] = date['date'].dt.month_name()

In [14]:
date['month_name']

0      December
1        August
2       October
3        August
4       January
         ...
995     October
996    December
997         May
998       March
999     October
Name: month_name, Length: 1000, dtype: object

In [16]:
# Day of week
date['day_of_week'] = date['date'].dt.dayofweek

In [17]:
date['day_of_week']

0      1
1      2
2      1
3      5
4      6
      ..
995    0
996    3
997    1
998    6
999    1
Name: day_of_week, Length: 1000, dtype: int32